* {
    margin: 0;
    padding: 0;
  }
  
body {
    font-family: 'Lato', sans-serif;
}

img {
    max-width: 100%;
    }

a {
    text-decoration: none;
    }

.top{
    display: flex;
    align-items: center;
    margin: auto;
    width: 1600px;
    background-color: #F1E4E6;
    
}
.top__content{
    display: flex;
    gap: 16px;
    padding-bottom: 100px;
    padding-left: 63px;
}
.top__text {
    display: flex;
    flex-direction: column;
}
.top__textroup{
    display: flex;
}
.top__text1 {
    color: #222;
    font-size: 48px;
    font-weight: 900;
}
.top__text2 {
    color: #222;
    font-size: 32px;
    font-weight: 700;
}
.top__text3 {
    color: #F16D7F;
    font-size: 32px;
    font-weight: 700;
    padding-left: 10px;
}
  
.center {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.header {
    min-height: 75px;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    min-height: 75px;
    align-items: center;
    margin: auto;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 41px;
    padding-left: 231px;
}

.header__right {
    padding-right: 231px;
}

.sale {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 360px);
    padding-top: 65px;
    padding-bottom: 96px;
    max-width: 1600px;
    min-width: 500px;
    min-height: 75px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.sale__item {
    position: relative;
    }

.sale__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(33,22,22,0.7);
}

.sale__item_big {
    min-height: 180px;
    grid-column: 1 / -1;
}

.sale__text {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}

.sale__heading {
    color: #F16D7F;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
}

.shop {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 360px);
    padding-top: 65px;
    max-width: 1600px;
    min-width: 500px;
    min-height: 75px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.items__text {
    display: grid;
    max-width: 1600px;
    min-width: 500px;
    min-height: 75px;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
}

.items__textTitle {
    color: #222;
    font-size: 30px;
    font-weight: 400;
}

.items__textContent {
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
}

.sale__item {
    position: relative;
}

.shop__item {    
    background-color: rgba(248,248,248,1);
}

.shop__images {  
    background-color: rgba(247, 228, 226, 1);
}

.shop__image {
    display: flex;
    margin: auto;
    min-height: 420px;
}

.item__title {
    padding-top: 24.35px;
    padding-bottom: 12.65px;
    padding-left: 18px;
    color: #000;
    font-size: 13px;
    font-weight: 600;
}

.item__p {
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;    
    padding-left: 16px;
    padding-right: 35px;
}

.item__price {
    padding-top: 18px;
    padding-bottom: 20px;
    padding-left: 18px;
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400;
}

.footer {
    display: flex;
    padding-top: 48px;
    padding-bottom: 60px;
    justify-content: center;
    margin: auto;
}

.footer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 212px;
    min-height: 48px;
    border: 1px solid rgba(255, 106, 106, 1);
    color: rgba(242, 99, 118, 1);
    font-size: 16px;
    font-weight: 400;
}

@media (max-width: 1024px) and (min-width: 768px) { 
    .top{
        display: flex;
        align-items: center;
        background-color: #F1E4E6;
        max-width: 768px;
        margin: auto;
    }
    .top__content{
        display: flex;
        gap: 16px;
        padding-left: 39px;
    }
    .top__image {
        width: 50%;
    }
    .top__text {
        display: flex;
        flex-direction: column;
    }
    .top__textroup{
        display: flex;
    }
    .top__text1 {
        color: #222;
        font-size: 44px;
        font-weight: 900;
    }
    .top__text2 {
        color: #222;
        font-size: 24px;
        font-weight: 700;
    }
    .top__text3 {
        color: #F16D7F;
        font-size: 24px;
        font-weight: 700;
    }
    
    .center {
        padding-left: calc(50% - 512px);
        padding-right: calc(50% - 512px);
    }

    .header {
        min-height: 75px;
        background-color: #222222;
        display: flex;
        justify-content: space-between;
        max-width: 768px;
        min-height: 75px;
        align-items: center;
        margin: auto;
    }

    .header__left {
        display: flex;
        align-items: center;
        padding-left: 32px;
    }

    .header__right {
        display: flex;
        align-items: center;
        padding-right: 32px;
    }

    .sale {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 231px);
        padding-top: 65px;
        padding-bottom: 96px;
        max-width: 768px;
        min-width: 500px;
        min-height: 75px;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .shop {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(2, 360px);
        padding-top: 65px;
        max-width: 1600px;
        min-width: 500px;
        min-height: 75px;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
}

@media (max-width: 767px) and (min-width: 320px) { 
    .header {
        display: flex;
        align-items: center;
        background-color: #222222;
        min-height: 75px;
        justify-content: space-between;
        max-width: 375px;
        margin: auto;
    }
    .top{
        display: flex;
        align-items: center;
        background-color: #F1E4E6;
        max-width: 375px;
        justify-content: center;
    }
    .top__content{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0px;
        padding-top: 148px;
        padding-bottom: 149px;
        margin: auto;
    }
    .top__image {
        width: 0%;
    }
    .top__text {
        display: flex;
        flex-direction: column;
    }
    .top__textroup{
        display: flex;
    }
    .top__text1 {
        color: #222;
        font-size: 44px;
        font-weight: 900;
    }
    .top__text2 {
        color: #222;
        font-size: 24px;
        font-weight: 700;
    }
    .top__text3 {
        color: #F16D7F;
        font-size: 24px;
        font-weight: 700;
    }
    
    .center {
        padding-left: calc(50% - 187,5px);
        padding-right: calc(50% - 187,5px);
    }

    .header__left {
        display: flex;
        align-items: center;
        padding-left: 32px;
    }

    .header__right {
        display: flex;
        align-items: center;
        padding-right: 32px;
    }

    .sale {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(1, 343px);
        padding-top: 65px;
        padding-bottom: 96px;
        max-width: 375px;
        min-width: 320px;
        min-height: 75px;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .shop {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(1, 359px);
        padding-top: 65px;
        max-width: 1600px;
        min-width: 500px;
        min-height: 75px;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
}